.list {
  border: 1px solid #d9dddd;
}

.container {
  outline: transparent solid 1px;
}

.list .listItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 4px;
}

.list .active{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #44443d;
  color: #ffffff;
  border-radius: 4px;
}

.list::-webkit-scrollbar {
  width: 14px; /* width of the entire scrollbar */
}
.list::-webkit-scrollbar-track {
  background: #fff; /* color of the tracking area */
}
.list::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; /* color of the scroll thumb */
  border-radius: 6px; /* roundness of the scroll thumb */
  border: 3px solid #fff; /* creates padding around scroll thumb */
}
